body{
  margin: 0 auto;
  max-width: 20rem;
  margin-top: 2rem;
}

form {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}
 select {
   width: 60%;
 }
input {
 margin-left: 0.5rem;
  text-align: right;
  width: 20%;
}

button {
  margin: 1rem 0;
}

.output {
  
  font-family: 'Courier New', monospace;
}